-r environments-and-requirements/requirements-base.txt
grpcio<1.51.0
protobuf==3.19.6
torch<1.13.0
torchvision<0.14.0
-e .
numpy>=1.21.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=9.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
